html, body {
    height: 100%;
}
body {
    background-size: 100%;
}

#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
    letter-spacing: 0.05em;
    font-size: 12rem;
    padding: .5rem 0;
}
#clock .date {
    letter-spacing: 0.1em;
    font-size: 2.4rem;
}
#clock .text {
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    padding: 2rem 0 0;
}

