
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
}


.backgroundColor {
  background-color:#000000;
}

.customPaddingTop {
  padding-top: 20rem;
}

.maxHeight {
  height: 100%;
}

.relativePosition {
  postition: relative;
}

.absolutePosition {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3498db;
  z-index: 2;
}

.displayNone {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.logo {
    display: block;
    padding-left: 3rem;
    padding-top: 1rem;
    width: 17%;
}

.opacity {
    opacity: 0;
}

.msg {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.msgSmall {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.msgName {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.msgTime {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.HelpLegend {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50rem;
    height: 30rem;
    border: 3px solid #73AD21;
}

.keyboardIcon {
    border-radius: 8px;
    width: 10%;
}
#alertDivForm{
    margin-top: 3rem;
    text-align: center;
    color: black;
}
#formForgotLogin small{
    display: block;
    margin-top: .2rem;
}
#timeLogin{
    text-align: center;
    width: 50%;
    font-size: 3rem;
    margin: auto;
}

.btn-forgot{
    margin-top: 1rem;
    margin-left: 60%;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

/*CSS za sidebar menu*/
.sidenav-row{
    margin-top: 10rem;
}
.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 49%;
    left: 0;
    background-color: #e1eee0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 12px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}
.sidenav .closebtn:hover {

    color: #777777;
}

.sidenav-instructions{
    position: fixed;
    top: 49%;
    left: 0;

    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    background-color: #d91c5c;
    padding: 1rem;
    display: inline-block;
}
.sidenav-instructions:hover{
    color: #777777;
}

.sidenav-list{
    list-style: none;
    padding: 1.6rem;
    margin-top: 4rem;
}

.sidenav-list-item{

    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 0.3rem;
    margin: 1rem 0;
}

.sidenav-list-item p{
    font-size: 1.9rem;
}

/*CSS za sidebar menu*/


@media only screen and (max-width: 1600px) {
    html {
        font-size: 62%;
    }

    .sidenav-list-item p {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1350px) {
    html {
        font-size: 50%;
    }
}

/* SPINNER */
.spinner {
    max-width: 70px;
    position: fixed;
    top: 62%;
    left: 50%;
    margin-top: -50px; /* Half of the height of the loading graphic */
    margin-left: -50px; /* Half of the width of the loading graphic */
    z-index: 10000;
}

/* SPINNER */
