html, body {
    height: 100%;
}
body {
    background-size: 100%;
}

.clock-container {
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
